@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  /* background: #ED1D24; */
  background: rgb(81,140,202);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: rgb(226,54,54);
  margin-bottom: 2rem;
}

section {
  display: grid;
  grid-template-columns: repeat(4,8rem);
  grid-template-rows: repeat(4,8rem);
  grid-gap: 2.5rem;
  perspective: 800px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
  box-shadow: rgb(0, 0, 0, 1) 0px 5px 15px;
}

.face, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background: rgb(226,54,54);
  backface-visibility: hidden;
}

.toggleCard {
  transform: rotateY(180deg);
}

.face {
  transform: rotateY(-180deg);
}